# Entorno virtual
venv/

# Base de datos SQLite
*.sqlite3

# Archivos de entorno y sensibles
.env
*.key

# Python cache
__pycache__/
*.py[cod]

# Django secret key
/mi_sitio/mi_sitio/secrets.py  # Si usas un archivo aparte para la SECRET_KEY